.footer {
    display: flex;
    width: 100%;
    border-top: 1px solid #DCDCDC;
    background: #F0F0F0;
    padding: 10px 14px;
    align-items: center;
    justify-content: center;
    text-align: center;

    nav {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 1920px;
    }

    text {
        color: #3E3E3E;
        font-size: 13px;
        font-weight: 500;
    }
}