.main {
  display: flex;
  min-height: 100vh;
  width: 100%;
  justify-content: center;
}

.content {
  display: flex;
  padding: 0 90px;
  flex-direction: column;
  margin-top: 135px;
  max-width: 1920px;
  width: 100%;

  h1 {
    color: #949494;
    font-size: 24px;
  }

  @media screen and (max-width: 700px) {
    padding: 0 13px;
    margin-top: 120px;

    h1 {
      font-size: 17px;
    }
  }
}

.line {
  background: rgba(148, 148, 148, 0.30);
  width: 100%;
  height: 1px;
  margin-top: 8px;
}

.head {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 30px 0 0 0;
  width: 95%;
  justify-content: space-between;

  text {
    color: #949494;
    font-size: 20px;
    font-weight: 300;
  }

  @media screen and (max-width: 700px) {
    flex-direction: column-reverse;
    align-items: normal;

    text {
      font-size: 14px;
      margin: 20px 0 0 0;
    }
  }
}

.boxInput {
  display: flex;
  border: 1px solid rgba(167, 167, 167, 0.3);
  width: 280px;

  input {
    background: #f8f8f8;
    border: none;
    height: 42px;
    width: 280px;
    padding-left: 10px;
    font-size: 14px;
    color: #312783;
  }
}

.buttonSearch {
  display: flex;
  align-items: center;
  background: #fff;
  border: none;
  border-right: 1px solid #E1E1E1;
  padding: 0 12px;
}

.iconSearch {
  color: rgba(117, 117, 117, 0.3);
}

.content_grid {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  border: 1px solid #E4E4E4;
  background: #F9F9F9;
  margin: 14px 0;
  padding: 0px 22px 22px 22px;
  height: 500px;
  width: 95%;
  overflow: auto;

  @media screen and (max-width: 700px) {
    height: 400px;
    width: 100%;
    padding: 0px 10px 10px 10px;
  }
}

/* width */
.content_grid::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.content_grid::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.content_grid::-webkit-scrollbar-thumb {
  background: #312783;
  border-radius: 30px;
  transition: 0.2s;
}

.grid {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px solid rgba(148, 148, 148, 0.30);
  padding: 0 5px 10px 5px;
  margin-top: 22px;
  justify-content: space-between;

  h4 {
    color: #32D808;
    font-size: 15px;
    font-weight: 600;
  }

  div {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    align-items: center;
  }

  h6 {
    color: #312783;
    font-size: 15px;
    font-weight: 400;
    width: 80px;
  }

  p {
    color: #312783;
    font-size: 11px;
    font-weight: 400;
  }

  h2 {
    color: #1E1E2A;
    font-size: 15px;
    font-weight: 400;
    width: 500px;
  }

  @media screen and (max-width: 700px) {
    div {
      margin-left: 12px;
    }

    h6 {
      font-size: 10px;
    }

    h2 {
      font-size: 10px;
    }

    p {
      font-size: 10px;
    }

    h4 {
      font-size: 10px;
    }
  }
}

.loader {
  display: flex;
  margin: 50px 0 0 20px;

  @media screen and (max-width: 700px) {
    width: 100%;
    margin: 40px 0 0 0;
    align-items: center;
    justify-content: center;
  }
}